<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="b4a.example"
	android:versionCode="1"
	android:versionName=""
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="14"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application
		android:icon="@drawable/icon"
		android:label="GIS TOURISM PACKAGE SOLSEL">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".info_utama"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".galeri_ut"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".pencarian_travel"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".lokasi"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".info_travel"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".info_des"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".pencarian_des"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".pencarian_nama"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".lokasi_des"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".lokasi_travel"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".lokasi_trav"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".home"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".addbooking"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".booking"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".login"
			android:label="GIS TOURISM PACKAGE SOLSEL"
			android:screenOrientation="unspecified">
		</activity>
		<service android:name="anywheresoftware.b4a.samples.httputils2.httputils2service">
		</service>
		<receiver android:name="anywheresoftware.b4a.samples.httputils2.httputils2service$httputils2service_BR">
		</receiver>
	</application>
</manifest>